<ion-header>
  <ion-toolbar>
    <ion-title>Video</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Video</ion-card-title>
      <ion-card-subtitle>FPS Test</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <video
      width="100%"
      controls="controls"
      preload="metadata"
      webkit-playsinline="webkit-playsinline"
      class="videoPlayer"
      >
        <source src="assets/video.mp4">
      </video>
    </ion-card-content>
  </ion-card>
</ion-content>
